<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Proffy - Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/confirmation.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body id="page-confirmation">

    <div id="container">

        <img class="background" src="/images/success-background.svg" alt="Succes">
        
        <div class="icon-container">
            <img src="/images/icons/success-check-icon.svg" alt="Succes Icon">
            <h2>Cadastro Salvo!</h2>
            <p class="confirmation-message">
                Tudo certo, seu cadastro está na nossa lista de professores.
                Agora é só ficar de olho no seu WhatsApp.
            </p>
        </div>
        
        <div class="confirmation-button">
            <a class="study" href="/study">
                Acessar a lista
            </a>
        </div>

    </div>

</body>

</html>