#page-confirmation {
    background: var(--color-primary);
    width: 100vw;
    height: 100vh;
}

#page-confirmation #container {
    color: var(--color-title-in-primary);
    margin-bottom: 5.6rem;
}

#page-confirmation #container .background{
    width: 100%;
    height: 100%;
}

.icon-container {
    text-align: center;
    position: absolute;
    width: 47.9rem;
    height: 28.9rem;
    top: 20.3rem;
    left: 48.1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    /* depois realizar a margem para o botão */
}

.icon-container h2 {
    font-weight: 700;
    font-size: 5.4rem;
    margin-bottom: 2.4rem;
    margin-top: 3.6rem;
}

.icon-container p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-line-in-white);
}

.confirmation-button {
    display: flex;
    justify-content: center;
    margin-top: 16rem;
}

.confirmation-button a {
    width: 17.6rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;

    font-weight: 500;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 0.4s;

    background: var(--color-secondary);
    color: var(--color-button-text);
}

.confirmation-button a:hover {
    background: var(--color-secondary-dark);
}
